
*.o
*.exe
QSS/build-QPushButtonQss-Desktop_Qt_5_6_0_MinGW_32bit-Debug/Makefile
QSS/build-QPushButtonQss-Desktop_Qt_5_6_0_MinGW_32bit-Debug/Makefile.Debug
QSS/build-QPushButtonQss-Desktop_Qt_5_6_0_MinGW_32bit-Debug/Makefile.Release
QSS/build-QPushButtonQss-Desktop_Qt_5_6_0_MinGW_32bit-Debug/debug/moc_dialog.cpp
QSS/QPushButtonQss/QPushButtonQss.pro.user
QSS/build-QPushButtonQss-Desktop_Qt_5_6_0_MinGW_32bit-Debug/ui_dialog.h
Tools/Main/Main.pro.user
Tools/Main/Makefile.Debug
Tools/Main/Makefile.Release
Tools/Main/Makefile
Tools/Main/debug/moc_mainwindow.cpp
Tools/Main/debug/qrc_main.cpp
Tools/Main/.qmake.stash
Tools/Main/release/moc_predefs.h
Tools/Main/release/moc_mainwindow.cpp
Tools/Main/release/qrc_main.cpp
Tools/Main/debug/moc_warningdlg.cpp
Tools/Main/debug/moc_framelesswidget.cpp
Tools/Main/release/moc_framelesswidget.cpp
Tools/Main/release/moc_warningdlg.cpp
